<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <title>Main Page</title>
  </head>
  <body>
    <div class="container">
      <h1>Image Caption Generation</h1>
      <form
        method="POST"
        action="/upload"
        enctype="multipart/form-data"
        id="uploadForm"
      >
        <input type="file" name="image" accept="image/*" id="imageInput" />
        <div id="hidden-div" class="hidden">
          <h2>Uploaded Image</h2>
          <img id="previewImage" src="#" alt="Uploaded Image"/>
          <button class="btn" type="submit">Generate✨</button>
        </div>
      </form>
    </div>

    <script src="{{url_for('static', filename="js/script.js")}}"></script>
  </body>
</html>
